<div class="container">


<%= form_for(@good) do |f| %>
  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand, class: "form-control"  %>
  </div>

  <%= f.file_field :image %>

  <div class="actions">
    <%= f.submit "Edit Good", class: "btn btn-info btn-save" %>
  </div>

<% end %>
</div>
